/*-----------------------
        mwb Debug
 ------------------------*/
#wpadminbar .mwb-debug-admin-bar div,
#wpadminbar .mwb-debug-admin-bar:hover div {
	background: #05789c !important;
	color: #fff !important;
}

#wpadminbar .mwb-debug-admin-bar a,
#wpadminbar .mwb-debug-admin-bar strong {
	color: #fff !important;
}

#wpadminbar .mwb-debug-admin-bar strong {
	font-weight: 600;
}

#wpadminbar .mwb-debug-admin-bar-post-meta .ab-empty-item,
#wpadminbar .mwb-debug-admin-bar-option .ab-empty-item {
	display: none;
}

#wpadminbar #wp-admin-bar-mwb-debug-admin-bar-post-meta-default,
#wpadminbar #wp-admin-bar-mwb-debug-admin-bar-option-default {
	padding: 0;
	max-height: 500px;
	overflow-y: auto;
}

#wpadminbar .mwb-debug-admin-bar pre {
	padding: 10px;
	line-height: 1.5em;
}

.notice-mwb {
	margin-left: 0;
	border-left-color: #acc327;
}

.notice-mwb.notice-alt {
	background-color: #ecf7ed;
}

.mwb-promo-banner-image-link {
	display: block;
	margin-bottom: 15px;
}

.mwb-promo-banner-image {
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

/*-----------------------
    mwb FEEDS
 ------------------------*/

.mwb-feeds-logo {
	display: table-cell;
	background: #005b7c;
	padding: 5px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: text-bottom;
	width: 18px;
	height: auto;
	vertical-align: middle;
}

.mwb-feeds-plugin-name {
	display: table-cell;
	vertical-align: middle;
}

/*-----------------------
    mwb Plugins Columns
 ------------------------*/
@media screen and (min-width: 783px) {

	.auto-fold #adminmenu .mwb-plugin-fw-menu-2-columns.wp-not-current-submenu .wp-submenu-head {
		width: 100%;
	}

	#adminmenu .mwb-plugin-fw-menu-2-columns.wp-not-current-submenu .wp-submenu {
		min-width: 320px;
		display: flex;
		flex-flow: row wrap;
	}

	#adminmenu .mwb-plugin-fw-menu-2-columns.wp-not-current-submenu .wp-submenu li:not(.wp-submenu-head) {
		width: 50%;
		border-left: 1px solid #555;
		box-sizing: border-box;
	}

	#adminmenu .mwb-plugin-fw-menu-2-columns.wp-not-current-submenu .wp-submenu li:not(.wp-submenu-head):nth-child(2n) {
		border-left: none;
	}

	#adminmenu .mwb-plugin-fw-menu-3-columns.wp-not-current-submenu .wp-submenu {
		min-width: 480px;
		display: flex;
		flex-flow: row wrap;
	}

	#adminmenu .mwb-plugin-fw-menu-3-columns.wp-not-current-submenu .wp-submenu li:not(.wp-submenu-head) {
		width: calc(100% / 3);
		border-left: 1px solid #555;
		box-sizing: border-box;
	}

	#adminmenu .mwb-plugin-fw-menu-3-columns.wp-not-current-submenu .wp-submenu li:not(.wp-submenu-head):nth-child(3n + 2) {
		border-left: none;
	}
}

/*---------------------------
    mwb System Information
 ----------------------------*/
.mwb-phpinfo img {
	float: right;
	border: 0;
}

.mwb-system-info h2.mwb-sysinfo-title {
	color: #00729f;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 25px;
	padding: 20px 0;
}

#mwb-system-alert span.mwb-logo,
.mwb-system-info h2 span.mwb-logo {
	border-radius: 50%;
	background: #265b7a;
	height: 30px;
	width: 30px;
	display: flex;
	text-align: center;
	margin: 0 10px 0 0;
	float: left;
	align-items: center;
	justify-content: center;
}

.mwb-system-info table {
	margin: 20px 0;
}

.mwb-system-info table th {
	font-weight: bold;
	width: 25%;
	padding: 20px 12px;
}

.mwb-system-info table td {
	word-break: break-all;
	padding: 20px 12px;
}

.mwb-system-info table td.requirement-value {
	font-size: 14px;
	vertical-align: middle;
	text-align: left;
	color: #5da726;
	line-height: 19px;
	width: 90px;
}

.mwb-system-info table td.requirement-value.has-errors {
	color: #a00;
}

.mwb-system-info table td.requirement-value.has-warnings {
	color: #ffa200;
}

.mwb-system-info table td.requirement-messages ul {
	margin: 0;
	padding: 0 0 10px 0;
	list-style: none !important;
}

.mwb-system-info table td.requirement-messages ul li {
	margin-bottom: 3px;
}

.mwb-system-info table td.requirement-messages span.error {
	color: #a00;
	font-weight: bold;
}

.mwb-system-info table td.requirement-messages span.warning {
	color: #a00;
	font-weight: bold;
}

.mwb-system-info table textarea.mwb-system-info-debug {
	width: 100%;
	height: 400px;
}

.mwb-system-info-menu {
	font-weight: bold;
	font-size: 11px !important;
}
