/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


/* font include start */

@font-face {
    font-family: 'orbitronBold';
    src: url('../fonts/orbitron/Orbitron-Bold.eot');
    src: url('../fonts/orbitron/Orbitron-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/orbitron/Orbitron-Bold.woff2') format('woff2'), url('../fonts/orbitron/Orbitron-Bold.woff') format('woff'), url('../fonts/orbitron/Orbitron-Bold.ttf') format('truetype'), url('../fonts/orbitron/Orbitron-Bold.svg#Orbitron-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'orbitronRegular';
    src: url('../fonts/orbitron/Orbitron-Medium.eot');
    src: url('../fonts/orbitron/Orbitron-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/orbitron/Orbitron-Medium.woff2') format('woff2'), url('../fonts/orbitron/Orbitron-Medium.woff') format('woff'), url('../fonts/orbitron/Orbitron-Medium.ttf') format('truetype'), url('../fonts/orbitron/Orbitron-Medium.svg#Orbitron-Medium') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.mwb-wfw-sidebar__links:first-child {
    display: none;
}

/* font include end */

main.mwb-wfw-main {
    margin-left: -19px;
}

/* HEADER SECTION START */

.mwb-wfw-header {
    background-color: #9B5C8F;
    display: flex;
    font-family: 'orbitronBold', sans-serif;
    justify-content: space-between;
    margin: 0px 0 0 -1px;
    padding: 15px;
}

.mwb-wfw-header .mwb-wfw-header__title {
    color: #FFFFFF;
    line-height: 100%;
}

.mwb-wfw-header .mwb-wfw-version {
    color: #FFFFFF;
    font-size: 25px;
    line-height: 100%;
    padding: 15px;
}


/* HEADER SECTION END */


/*  NAV SECTION START */

.mwb-wfw-navbar {
    display: flex;
    padding: 10px 0;
    position: relative;
}

.mwb-wfw-toggler__wrap .mwb-wfw-toggler {
    background-color: #ffffff;
    border-radius: 4px;
    border: 2px solid #F1DEDE;
    cursor: pointer;
    display: none;
    padding: 5px;
}

.mwb-wfw-toggler__wrap .mwb-wfw-toggler .icon-bar {
    background-color: #9EA3A8;
    border-radius: 4px;
    display: block;
    height: 5px;
    margin: 0 0 4px;
    width: 25px;
}

a.mwb-wfw-cta {
    color: #9B5C8F;
    text-decoration: none;
    font-size: 15px;
    border: 2px solid;
    border-radius: 5px;
    padding: 3px 10px;
}

/*Remove focus*/
.mwb-wfw-toggler__wrap .mwb-wfw-toggler:focus,
.wfw_crm_config_options a:focus {
    outline: none;
    box-shadow: none;
}

.mwb-wfw-nav-collapse {
    flex: 0 0 100%;
}

.mwb-wfw-nav-collapse .mwb-wfw-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
    padding: 0 15px;
}

.mwb-wfw-nav li a {
    color: #9B5C8F;
    font-family: 'orbitronBold', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.mwb-wfw-nav li a:hover {
    color: #9B5C8F;
}

.mwb-wfw-nav li a:focus {
    box-shadow: none;
}

.mwb-wfw-nav-link {
    position: relative;
}

.mwb-wfw-nav-link--active::before {
    position: absolute;
    content: '';
    height: 3px;
    top: 25px;
    left: -14px;
    right: -9px;
    background-color: #9B5C8F;
    border-radius: 2px;
}


/* NAV SECTION END */


/* ARTICLE SECTION START */

.mwb-wfw-container {
    overflow: hidden;
    padding: 0 15px;
}

.mwb-wfw-container .mwb-wfw-row {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}

.mwb-wfw-desc {
    border: 1px solid #9EA3A8;
    box-sizing: border-box;
    flex: 0 0 100%;
    height: calc(100vh - 190px);
    margin: 0 10px;
    max-width: calc(100% - 220px);
    overflow: auto;
    padding: 15px;
    position: relative;
    transition: 0.3s linear all;
    order: 1;
}

.mwb-wfw-desc .mwb-wfw-desc--preloader {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 100%;
}

.mwb-wfw-desc--preloader img {
    transform: scaleX(-1);
}

.mwb-wfw-desc .mwb-wfw-desc--preloader h4 {
    color: #9B5C8F;
    font-family: 'orbitronRegular', sans-serif;
    letter-spacing: 2px;
}


/* ARTICLE SECTION END */


/* SIDEBAR CSS START */

.mwb-wfw-sidebar {
    align-items: center;
    background-color: #f1f1f1;
    border: 1px solid #9EA3A8;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 190px);
    margin-right: 10px;
    padding: 10px;
    position: relative;
    transition: 0.3s linear all;
    width: 200px;
    z-index: 2;
    order: 2;
}

.mwb-wfw-sidebar .mwb-wfw-helpdesk__icon {
    left: -40px;
    position: absolute;
    top: -1px;
    z-index: 10;
    visibility: hidden;
}

.mwb-wfw-sidebar .mwb-wfw-helpdesk__icon img {
    height: 40px;
    width: 40px;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
}

.mwb-wfw-over {
    opacity: 0;
    height: 0;
}

.mwb-wfw-sidebar h2 {
    color: #9B5C8F;
    font-family: 'orbitronBold', sans-serif;
    margin: 0px 0 30px 0;
    text-align: center;
    text-transform: capitalize;
}

.mwb-wfw-sidebar .mwb-wfw-sidebar__items {
    width: 100%;
    max-width: 190px;
}

.mwb-wfw-sidebar .mwb-wfw-sidebar__items li {
    margin-bottom: 20px;
}

.mwb-wfw-sidebar .mwb-wfw-sidebar__items li a {
    border: 1px solid #9B5C8F;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    color: #9B5C8F;
    display: flex;
    font-family: 'orbitronRegular', sans-serif;
    font-size: 11px;
    justify-content: center;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

.mwb-wfw-sidebar .mwb-wfw-sidebar__items li span {
    font-size: 20px;
    margin-top: -3px;
}

.mwb-wfw-sidebar__connect {
    display: flex;
    flex-direction: column;
    left: 0px;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0px -7px 9px 0px #dadada;
}

.mwb-wfw-sidebar__connect a {
    font-family: 'orbitronRegular', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    color: #9B5C8F;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 12px;
}

.mwb-wfw-sidebar__connect .mwb-wfw-skype__icon {
    border: 1px solid #9b5c8f;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    color: #00AAF2;
    display: flex;
    font-size: 16px;
    justify-content: space-evenly;
    margin-top: 5px;
    padding: 5px 0px;
}

.mwb-wfw-sidebar__connect .mwb-wfw-skype__icon:focus {
    box-shadow: none;
    color: #00AAF2;
}

.mwb-wfw-sidebar__connect .mwb-wfw-skype__icon img {
    width: auto;
    height: 26px;
    margin-top: 1px;
}

.mwb-wfw-sidebar__connect .mwb-wfw-skype__icon span {
    margin: 5px 0px;
    font-size: 16px;
}


/* SIDEBAR CSS END */

/* HELPER STYLES STARTS */

.is-hidden {
    display: none !important;
}

.is-flex {
    display: flex !important;
}

.is-visible {
    display: block !important;
}

/* HELPER STYLES ENDS */


/*Custom Scrollbar*/
.mwb-wfw-desc::-webkit-scrollbar {
    width: 6px;
}

.mwb-wfw-desc::-webkit-scrollbar-track {
    background: rgb(155 92 143 / 0.3);
}

.mwb-wfw-desc::-webkit-scrollbar-thumb {
    background: #9B5C8F;
}

.mwb-wfw-desc::-webkit-scrollbar-thumb:hover {
    background: #712663;
}


::placeholder {
    font-family: 'orbitronRegular', sans-serif;
    color: #9B5C8F;
}

.mwb-wfw-output-form .description {
    display: inline-flex;
}

/*Applying fonts to elements*/
.mwb-wfw-output-form h2,
.mwb-wfw-output-form .titledesc,
.mwb-wfw-textarea-field,
.mwb-wfw_save-wrapper a,
h2.mwb-wfw-subheading,
.mwb-wfw_save-text {
    font-family: 'orbitronRegular', sans-serif;
    letter-spacing: 2px;
}

/*Applying hover to elements*/
.mwb-wfw-output-form .mwb-wfw-select:hover {
    color: #712663;
}

/*Removing focus from elements*/
.mwb-wfw-textarea-field:focus,
.mwb-wfw-output-form .mwb-wfw-select:focus,
.mwb-wfw-output-form input[type=password]:focus,
.mwb-wfw-output-form input[type=text]:focus {
    box-shadow: none;
    outline: none;
}

.mwb-wfw-output-form .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: none;
}

.mwb-wfw-textarea-field:focus::placeholder,
.mwb-wfw-output-form input[type=password]:focus::placeholder,
.mwb-wfw-output-form input[type=text]:focus::placeholder {
    color: transparent;
}

/*Checkbox to toggle conversion*/
.mwb-wfw-output-form .mwb-wfw-toggle-checkbox:focus,
.mwb-wfw-output-form .mwb-wfw-classic-checkbox:focus {
    box-shadow: none;
}

.mwb-wfw-output-form .mwb-wfw-toggle-checkbox {
    border: none;
    width: 41px;
    height: 25px;
    border-radius: 35px;
    background-color: rgb(155 92 143 / 0.3);
    position: relative;
}

.mwb-wfw-output-form .mwb-wfw-toggle-checkbox:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    top: 3px;
    left: 3px;
    background-color: #ffffff;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 1px 0px 3px #333333;
    cursor: pointer;
    margin: 0;
    transition: linear 0.3s;
}

.mwb-wfw-output-form .mwb-wfw-toggle-checkbox:checked:before {
    content: '';
    top: 3px;
    left: 17px;
    margin: 0;
    width: 18px;
    height: 18px;
}

.mwb-wfw-output-form .mwb-wfw-toggle-checkbox:checked {
    background-color: #712663;
}

/*Classic checkbox styling*/

.mwb-wfw-output-form .mwb-wfw-classic-checkbox {
    border: 2px solid #9b5c8f;
    border-radius: 0.2px;
}

.mwb-wfw-output-form .mwb-wfw-classic-checkbox:checked {
    border: 2px solid #9b5c8f;
}

.mwb-wfw-output-form .mwb-wfw-classic-checkbox:focus {
    border: 2px solid #9b5c8f;
}

.mwb-wfw-output-form .mwb-wfw-classic-checkbox:checked::before {
    height: 10px;
    width: 18px;
}

/*General styling starts*/
.mwb-wfw-output-form h2 {
    display: none;
}

h2.mwb-wfw-subheading {
    display: block;
    font-size: 16px;
    text-align: center;
    background: #9B5C8F;
    color: #ffffff;
    padding: 9px;
    margin: -15px -25px 10px;
}

.mwb-wfw-output-form .titledesc {
    color: #9B5C8F;
}

.mwb-wfw-textarea-field {
    font-size: 12px;
    width: 100%;
    border: #ffffff;
    border-radius: 0;
    resize: none;
    overflow-y: scroll;
    background-color: rgb(155 92 143 / 0.3);
    color: #712663;
}

.mwb-wfw-output-form .mwb-wfw-select,
.mwb-wfw-output-form input[type=password],
.mwb-wfw-output-form input[type=text],
.mwb-wfw-output-form .select2-container {
    font-family: 'orbitronRegular', sans-serif;
    font-size: 12px;
    border: none;
    max-width: unset;
    width: 100% !important;
    color: #9b5c8f;
    background-color: rgb(155 92 143 / 0.3);
    border-radius: 2px;
}

.mwb-wfw-output-form .selection .select2-selection {
    background-color: rgb(155 92 143 / 0.3);
    border-radius: 2px;
    border: none;
}

.mwb-wfw-output-form .forminp-multiselect .select2-selection .select2-selection__choice {
    border: 2px solid #9b5c8f;
    background-color: #ffffff;
    border-radius: 2px;
    padding: 5px;
}

/*buttons for save and cancel*/

.mwb-wfw_save-wrapper {
    background-color: #e4a6d8;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px 0px;
    padding: 30px 15px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.mwb-wfw_save-wrapper a {
    border-radius: 2px;
    border: 2px solid #9b5c8f;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 5px;
    padding: 15px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease-in;
}

.mwb-wfw_save-link {
    background-color: #9b5c8f;
    color: #ffffff;
}

.mwb-wfw_cancel-link {
    background-color: #ffffff;
    color: #9b5c8f;
}

.mwb-wfw_save-link:hover {
    background-color: #ffffff;
    color: #9b5c8f;
}

.mwb-wfw_cancel-link:hover {
    background-color: #9b5c8f;
    color: #ffffff;
}

.mwb-wfw_save-wrapper a:focus {
    color: #333333;
    box-shadow: none;
}

.mwb-wfw_save-text {
    font-size: 17px;
    word-spacing: 2px;
    padding: 0px 0px 0px 25px;
}

/*form table aligning */

.mwb-wfw-output-form {
    position: relative;
}

.mwb-wfw-output-form tr {
    display: flex;
    flex-wrap: wrap;
}

.mwb-wfw-output-form tr>th {
    flex: 0 0 246px;
    padding-right: 10px;
    padding-bottom: 25px;
    font-size: 12px;
}

.mwb-wfw-output-form tr>td {
    padding-bottom: 25px;
    flex-grow: 1;
}

.mwb-wfw-output-form td>fieldset {
    display: flex;
    align-items: baseline;
    margin-left: 30px;
}

.mwb-wfw-output-form .wfw_admin_subheading {
    flex: 0 0 96%;
}

/*Wishlishlist social media colors*/

.mwb-wfw-output-form .wp-picker-container>button {
    border: none;
    align-items: center;
    display: flex;
    box-shadow: 2px 2px 5px #444444 inset;
}

.mwb-wfw-output-form .wp-picker-container>button>span {
    font-size: 12px;
    letter-spacing: 1px;
    background-color: unset;
    border: none;
    color: #ffffff;
}

.mwb-wfw-output-form .wp-picker-container>button>span:first-letter {
    font-weight: 900;
    font-size: 14px;
}

/*Pro Elements*/

#wfw-custom-notif-title,
#wfw-custom-notif-url,
#wfw-custom-notif-msg,
#wfw-custom-notif-img,
label[for=wfw-enable-multi-wishlist],
label[for=wfw-enable-api-route],
label[for=wfw-enable-automated-mail],
label[for=wfw-enable-instock-notif] {
    position: relative;
    pointer-events: none;
}


#wfw-custom-notif-title,
#wfw-custom-notif-url,
#wfw-custom-notif-msg,
#wfw-custom-notif-img,
#wfw-enable-multi-wishlist,
#wfw-enable-api-route,
#wfw-enable-automated-mail,
#wfw-enable-instock-notif {
    filter: grayscale(1);
}

label[for=wfw-enable-multi-wishlist]:after,
label[for=wfw-enable-api-route]:after,
label[for=wfw-enable-automated-mail]:after,
label[for=wfw-enable-instock-notif]:after {
    background-color: #cccccc;
    border-radius: 50px;
    color: #3a3a3a;
    content: "Premium";
    left: -35px;
    opacity: 1;
    padding: 5px 10px;
    position: absolute;
    top: -5px;
}

label[for=wfw-custom-notif-title]:before {
    content: 'Premium';
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: unset;
    left: -20px;
    right: -15px;
    bottom: -15px;
    background-color: rgb(51 51 51 / 58%);
    min-height: 300px;
    color: #fff;
    font-size: 25px;
    letter-spacing: 6px;
}

/*CRM elements */

.wfw_crm_config_options {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
    text-align: center;
}

.wfw_crm_config_options img {
    width: 100%;
    border-radius: 5px;
}


.wfw_crm_config_options_icon {
    flex: 0 0 48%;
}

.wfw_crm_config_options img:hover {
    box-shadow: 0 0 20px -13px #737373;
}

/*Tool tip*/
.woocommerce-help-tip-text {
    font-size: 10px;
    display: none;
    min-width: 125px;
    width: 100%;
    position: absolute;
    text-align: center;
    top: -13px;
    left: 30px;
    background: #3a3a3a;
    color: #ffffff;
    padding: 5px;
    border-radius: 2px;
    letter-spacing: 1px;
    font-weight: 100;
}

.woocommerce-help-tip-text:before {
    border-bottom: 10px solid transparent;
    position: absolute;
    content: '';
    border-top: 10px solid transparent;
    border-right: 20px solid #3a3a3a;
    top: 10px;
    left: -15px;
}

.woocommerce-help-tip:hover>.woocommerce-help-tip-text {
    display: block;
}

span.woocommerce-help-tip-text.wishlist-page-label {
    min-width: 230px;
}

/*performance analytics*/

.mwb-table__wrapper>table {
    border: 2px solid #9B5C8F;
    text-align: center;
    color: #9B5C8F;
}

.mwb-table__wrapper>table tr {
    display: table-row;
}

.mwb-table__wrapper>table th {
    padding: 5px;
    white-space: nowrap;
    border: none;
    background-color: #9B5C8F;
    color: #ffffff;
    letter-spacing: 1px;
}

.mwb-table__wrapper>table td {
    border: none;
    padding: 5px;
}

.mwb-table__wrapper>table td:nth-child(even) {
    background-color: #e4dde3;
}

.mwb-table__wrapper>table td:first-child {
    font-weight: 600;
}

.mwb-table__wrapper>table td p:nth-child(even) {
    background-color: #e4dde3;
}

.mwb-table__wrapper>table td:last-child {
    text-align: left;
    padding-left: 15px;
}

.wfw-tick {
    color: #319631;
    font-size: 25px;
}

.wfw-cross {
    color: #ff3300;
    font-size: 25px;
}

.wfw-comments {
    max-width: 200px;
    overflow-wrap: anywhere;
}

.wfw_crm_config_options_icon h3 {
    font-family: 'orbitronRegular', sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #9B5C8F;
    margin: 25px auto;
    line-height: 32px;
    padding: 0px 0 25px;
    border-bottom:1px solid;
}

.wfw_crm_config_options_icon li {
    font-family: 'orbitronRegular', sans-serif;
    list-style-type: square;
    color: #3a3a3a;
    text-align: left;
    margin: 0 35px;
    padding: 5px 0;
    max-width: 300px;
}

/*=======================================
        OVERVIEW PAGE STYLING
=========================================*/
.wfw-overview_wrapper {
    font-family: 'orbitronRegular', sans-serif;
    letter-spacing: 2px;
    line-height: 1.25;
}

.wfw-overview_wrapper a:focus {
    outline: none;
    box-shadow: none;
}

.wfw-overview_wrapper p {
    font-size: 12px;
    color: #4d4d4d;
}

h1,
h2,
h3,
h4 {
    color: #1a3365;
}

.wfw-overview_wrapper img {
    width: 100%;
}

.wfw-overview_content {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 5px #cccccc;
    margin-top: 10px;
}

.wfw-overview_content ul {
    margin: 10px;
}

.wfw-overview_content li {
    color: #4d4d4d;
    list-style-type: square;
    margin: 10px;
}

.wfw-overview_card h3 {
    text-align: center;
    font-size: 24px;
}

.wfw-overview_card ul {
    display: flex;
    text-align: center;
}

.wfw-overview_card li {
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 5px #cccccc;
    width: 100%;
    margin: 15px 10px 0;
    border-radius: 5px;
}

.wfw-overview_card li:first-child {
    margin-left: 0px;
}

.wfw-overview_card li:last-child {
    margin-right: 0px;
}

.wfw-overview_card-item img {
    width: 50%;
}

.wfw-overview_support-icon {
    display: flex;
}

.wfw-overview_support-icon img {
    width: 24px;
    height: auto;
    margin-right: 15px;
    cursor: pointer;
}

.wfw-overview_support {
    border-top: 1px solid #1a3365;
    margin-top: 20px;
}

/* Media query start */

@media only screen and (max-width:768px) {

    /* HEADER SECTION START */
    .mwb-wfw-header .mwb-wfw-header__title {
        max-width: 200px;
    }

    .mwb-wfw-header .mwb-wfw-version {
        display: none;
    }

    /* HEADER SECTION END */

    /* NAV SECTION END */
    .mwb-wfw-toggler__wrap {
        position: absolute;
        right: 15px;
        top: -80px;
    }

    .mwb-wfw-toggler__wrap .mwb-wfw-toggler {
        display: block;
    }

    .mwb-wfw-nav-collapse {
        display: none;
    }

    .mwb-wfw-nav li {
        flex: 0 0 100%;
        margin-bottom: 10px;
        margin-right: 0;
    }

    /* NAV SECTION END */
    /* ARTICLE SECTION START */

    .mwb-wfw-desc {
        max-width: calc(100% - 20px);
        padding: 15px;
    }

    .active .mwb-wfw-desc {
        max-width: calc(66% - 15px);
    }

    /* ARTICLE SECTION END */
    /* SIDEBAR SECTION START */
    .mwb-wfw-sidebar {
        margin-right: 0px;
        max-width: 60%;
        position: fixed;
        right: 10px;
        top: 163px;
        transform: translateX(104%);
    }

    .mwb-wfw-sidebar .mwb-wfw-helpdesk__icon {
        visibility: visible;
    }

    .active .mwb-wfw-sidebar {
        transform: translateX(0);
    }

    .mwb-wfw-sidebar .mwb-wfw-sidebar__links {
        margin: 10px;
    }

    .mwb-wfw-sidebar .mwb-wfw-sidebar__links a {
        padding: 10px;
    }

    .mwb-wfw-sidebar .mwb-wfw-skype__icon span {
        font-size: 13px;
    }

    .mwb-wfw-output-form .mwb-wfw-subheading {
        font-size: 12px;
        padding: 9px;
    }

    .wfw_crm_config_options_icon {
        flex: 0 0 100%;
    }

    /*=======================================
        OVERVIEW PAGE STYLING for Mobile
    =========================================*/
    .wfw-overview_card ul {
        flex-wrap: wrap;
    }

    .wfw-overview_card li {
        margin: 15px 0;
    }

    /* SIDEBAR SECTION  END */
}

@media only screen and (max-width:476px) {
    label[for=wfw-custom-notif-title]:before {
        min-height: 510px;
    }
}

@media only screen and (min-width:782px) {
    label[for=wfw-custom-notif-title]:before {
        min-height: 350px;
    }
}

/* media query end */

.mwb-wfw-prod-img {
    max-width: 20%;
}

#screen-meta-links {
    display: none;
}